@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body, html {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero--image {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0px;
}

.card {
  position: relative;
  width: 50%;
}

.card--image--zaferes {
  width: 50%;
  height: auto;
}

.card--button--status {
  position: absolute;
  top: 10%;
  right: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.card--image--star {
  max-width: 15px;
  margin-right: 5px;
}

.card--rating--rates {
  color: #918E9B;
  margin-left: 5px;
}

.card--rating--info {
  color: #000;
}

.card--rating--price {
  font-weight: 600;
}
